<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CORONA VIRUS 2019 STATISTIC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<p th:text="${testName}"></p>

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reporetd</th>
    </tr>
    <tr th:each="locationStat : ${locationStatistics}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCase}">0</td>
    </tr>
</table>

</body>

</html>